body {
  /*background-color: rgb(233, 148, 173);*/
  background-color: hsla(330, 100%, 50%, 0.5);
  font-family: "segoe ui light";
}
.cotlon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.cotnho {
  margin: 100%;
  padding: 50px;
  margin: 1px;
}
#tieude {
  margin-top: 0;
  color: rgb(167, 12, 115);
  background-color: white;
  border: 5px solid blue;
  width: 700px;
  margin-left: 350px;
  text-align: center;
}
h2 {
  color: rgb(206, 49, 153);
  background-color: white;
  border: 3px solid blue;
  width: 120px;
}
h3 {
  color: white;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: aqua;
}
a:link {
  color: black;
}
a:visited {
  color: blue;
}
a:focus {
  background-color: blue;
  color: white;
}
a:hover {
  background-color: #fff;
  color: rgb(18, 18, 194);
}
a:active {
  background-color: #fff;
  color: red;
}
